# Dependências do Node.js
/backend/node_modules

# Ficheiro de variáveis de ambiente do Backend
/backend/.env
/backend/.env.local

# Ficheiros de log e sistema
npm-debug.log
.DS_Store

# Dados da Base de Dados
/postgres-data/

# Ficheiro de configuração do Frontend (NÃO VERSIONAR)
/frontend/config.js
